<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>浏览器默认样式</title>
    <link rel="stylesheet" href="../css/source/reset.css">
    <style>
        body{
            margin: 0;
        }
        ul{
            margin: 0;
            padding: 0;
            /*
                去除默认样式
            */
            list-style: none;
        }
        div{
            margin: 0;
            width: 100px;
            height: 100px;
            background-color: antiquewhite;
            border: 2px solid black;
        }
    </style>
</head>
<body>
    <div>

    </div>

    <ul>
        <li>A</li>
        <li>B</li>
        <li>C</li>
    </ul>
</body>
</html>