<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>脱离文档流元素特点</title>
    <style>
        /*
                元素设置浮动以后，将会从文档流中脱离，脱离后元素的特点也会发生变化
                    脱离文档流特点：
                        块元素：
                            1、块元素不会独占页面一行
                            2、块元素的宽度和高度默认都被内容撑开
                        行内元素：
                            1、行内元素脱离文档以后会变成块元素，特点和块元素一样
                        脱离文档流以后，不需要再区分块元素和行内元素。
            */
    </style>
</head>

<body>
    <div class="box1"></div>
    <div class="box2"></div>
</body>

</html>