.search-container{
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px 10px;
  box-sizing: border-box;
}

.search-input input{
  height: 30px;
  width: 350px;
  outline: 0px;
  outline-color: white;
  border: 1px solid green;
  border-radius: 2px;
  padding-left: 8px;
}

.search-btn button{
  width: 80px;
  height: 32px;
  position: absolute;
  right: 3px;
  top:50%;
  transform: translateY(-50%);
  border:0px;
  border-radius: 3px;
  background-color:rgb(14, 203, 129);
}
.search-btn button:hover{
  color: white;
}