.playing-detail-dec {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
}

.playing-banner {
  width: 100%;
  height: 56vh;
  overflow: hidden;
}

.playing-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-65%);
  box-sizing: border-box;
  background: rgb(249, 249, 249);
  opacity: 1;
  display: block;
}

.playing-detail-c {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #fff;
}
.playing-content-title span{
  display: block;

}