.header {
    width: 100%;
    background-color: #333;
}

.nav {
    width: 1226px;
    margin: 0px auto;
}

.nav-list li {
    float: left;
    display: block;
    margin: 0px 0.3em;

}

.nav-list a {
    color: #b0b0b0;
    font-size: 12px;
    line-height: 40px;
    text-align: left;
    text-decoration: none;
}

.dow-app {
    position: relative;
}

.dow-app:hover>.download {
    height: 148px;
}

.dow-app:hover .dow-icon {
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-color: transparent transparent #fff transparent;
}

.dow-icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -8px;
    /* transform: translateX(-50%); */
}

.download {
    width: 124px;
    height: 0;
    /*将父元素水平50%的位置上边40px 作为基点*/
    position: absolute;
    left: 50%;
    top: 40px;
    z-index: 999;
    /*将本身元素向水平方向移动50% 使其子元素和父元素 对*/
    transform: translateX(-50%);
    background-color: #fff;
    box-shadow: 0 1 5px #ccc;
    transition: all .3s;
    box-shadow: 0 2px 10px rgb(0 0 0 / 15%);
    overflow: hidden;
}

.dow-img {
    width: 90px;
    height: 90px;
    display: block;
    margin: 18px auto 12px;
}

.dow-text {
    font-size: 14px;
    line-height: 14px;
    font-weight: 200;
    color: #333;
    text-align: center;
}

.nav-list li:hover a {
    color: #fff;
}

.operation-list li {
    float: right;
    margin: 0px 0.3em;
}

.operation-list li a {
    color: #b0b0b0;
    font-size: 12px;
    line-height: 40px;
    text-decoration: none;
}

.shopping-car {
    float: right;
    margin-left: 20px;
    line-height: 40px;
    position: relative;
    transition: all .2s;
    background-color: #424242;
}

.fa-shopping-cart {
    margin-left: 20px;
    vertical-align: middle;
    color: #b0b0b0;
}

.shopping-car a {
    color: #b0b0b0;
    font-size: 12px;
    vertical-align: top;
    text-decoration: none;
}

.shopping-car:hover {
    /*光标移动到元素中，鼠标变小手*/
    cursor: pointer;
    background-color: #fff;
}

.shopping-car:hover a {
    color: #ff6700;
}

.shopping-car:hover .fa-shopping-cart {
    color: #ff6700;
}

/*鼠标移动到购物车，把高度加上达到过渡效果*/
.shopping-car:hover .cart-message {
    height: 100px;
}

.cart-message {
    width: 316px;
    /*过渡只能应用数字，所以现将高度设置为0*/
    height: 0;
    text-align: center;
    line-height: 100px;
    overflow: hidden;
    position: absolute;
    top: 40px;
    /*从父元素为基点定位，从右边0开始*/
    right: 0px;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0 2px 10px rgb(0 0 0 / 15%);
    /*添加过渡效果*/
    transition: all .3s;
}

.sep {
    margin: 0px 5px;
}

.site-header {
    width: 100%;
    height: 100px;
    background-color: #fff;
}

.header-content {
    width: 1226px;
    height: 100px;
    margin: 0px auto;
    position: relative;
    /* display: table; */
}

.header-logo {
    /*方式一绝对定位垂直居中*/
    position:absolute; top: 50%; left: 0;
    transform: translateY(-50%);
    /*让图片居中方式二： 把当前元素设置为单元格，可以利用单元格的垂直居中方式进行垂直居中，父元素必须是display:table*/
    /* display: table-cell;
    vertical-align: middle; */
}
 
.header-logo>a>.logo-img{
    width: 62px;
    height: 56px;
    text-align: left;
}

.header-nav{
    width: 678px;
    height: 100px;
    position: absolute;left: 172px;top: 0;
}

.header-navs-li{
    position: relative;
    float: left;
    padding: 38px 10px;
    line-height: 23px;
}

.header-navs-li a{
    color: #333;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

.header-navs-li:hover a{
    color: #ff6700;
}

.header-navs-li:hover .container{
    height: 200px;
    translate: all .5s;
}

/* .header-nav>.header-navs-li:hover .header-content{
    border-bottom: 1px solid  #616161;
} */

.header-search{
    width: 296px;
    height: 100px;
    position: absolute;left: 912px;top: 0;
}

.search{
    float: left;
    margin-top: 25px;
    width: 238px;
    height: 46px;
    border: 1px solid rgb(224, 224, 224);
}

.search-button{
    display: inline-block;
    width: 38px;
    height: 46px;
    line-height: 46px;
    margin-top: 25px;
    padding: 1px 6px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgb(224, 224, 224);
    border-left: 1px solid transparent;
    background-color: #fff;
}

.fa-search{
    font-size: 18px;
    color: #616161;
}

.search-button:hover{
    background-color: #ff6700;;
}

.search-button:hover .fa-search{
    color: #fff;
}

.container{
    width: 1226px;
    position: absolute;
    top: 100px;
    left: -172px;
    height: 0;
    overflow: hidden;
    background-color: #fff;
    transition: all .3s;
}

.xiaomi-ul li{
    float: left;
}

.xiaomi-ul li img{
    width: 160px;
    height: 110px;
    margin-bottom: 16px;
}

.mode-info{
    display: block;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}

.price-info{
    color: #ff6700;
    display: block;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}


.line{
    float: left;
    width: 10px; height: 110px;
    border-right: 1px solid rgb(224, 224, 224);
}

.site-body{
    /* position: relative; */
    width: 1226px;
    margin: 0px auto;
    background-color: #fff;
}

.site-category{
    float: left;
    width: 234px;
    height: 460px;
    opacity: .9;
    padding: 20px 0px;
    background: rgba(105,101,101,.6);
}

.site-category li{
    vertical-align: middle;
    padding-left: 30px;
}

.site-category li span{
    font-size: 16px;
    line-height: 40px;
}

.site-category li:hover{
    background-color: #ff6700;
}